node_modules
node/sms/node_modules/
/public/hot
/public/storage
private
/private
/private/phpmyadmin
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
.scss
.map
*.zip
/public/front_resources/css/.sass-cache
/public/front_resources/css/myday/.sass-cache
/public/front_resources/css/custom/.sass-cache
/public/front_resources/css/certificate/.sass-cache
/public/front_resources/css/notes/.sass-cache
/public/front_resources/css/print/.sass-cache
/public/front_resources/css/widgets/.sass-cache
/.sass-cache
